{% extends 'layout.html.twig' %}

{% import _self as macros %}

{% block pageTitle %}{{ subject }} - Externals{% endblock %}

{% macro threadItem(item) %}
    {% set email = item.email %}

    <article id="{{ email.number }}"
             class="mb-6 overflow-hidden {% if not email.isRead %}unread{% endif %}">

        <header class="text-xs sm:text-sm text-gray-300 bg-gray-600 rounded-tl py-1 px-2 relative">
            <button data-target="#{{ email.number }}-body" type="button" class="thread-collapse-button mr-2">
                <svg class="w-4 h-4 inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </button>
            {% if email.from.email %}
                <img class="hidden sm:block absolute top-0 right-0 mt-1 mr-2 rounded-full border border-gray-100 shadow-lg w-16 h-16 text-white bg-white" src="https://unavatar.now.sh/{{ email.from.email }}"
                     alt="{{ email.from.nameOrEmail }}" title="{{ email.from.nameOrEmail }}">
            {% endif %}
            <a class="underline" href="#{{ email.number }}" title="{{ email.date|date }}">{{ email.date|time_diff }}</a>
            by <strong>{{ email.from.nameOrEmail }}</strong>
            <span class="text-xs text-gray-500">
                — <a href="/email/{{ email.number }}/source" target="_blank" rel="nofollow">view source</a>
            </span>
            {% if not email.isRead %}
                <div class="ml-4 inline-block bg-blue-100 rounded px-2 py-1 leading-none text-xs text-blue-600">unread</div>
            {% endif %}
        </header>

        <div id="{{ email.number }}-body" class="border-l border-gray-200 pl-2 sm:pl-4 pt-1 pb-1">
            <div class="email-content overflow-hidden text-sm sm:text-base mb-6">
                {{ email.content|raw }}
            </div>
            <div class="sm:ml-2">
                {% for reply in item.replies %}
                    {{ _self.threadItem(reply) }}
                {% endfor %}
            </div>
        </div>

    </article>

{% endmacro %}

{% block content %}

    <h1 class="text-lg sm:text-3xl font-light mb-8 sm:mb-12">
        <a href="/" title="Back" class="mr-1 text-gray-600">
            <svg class="w-6 inline-block -mt-1" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M321.94 98L158.82 237.78a24 24 0 000 36.44L321.94 414c15.57 13.34 39.62 2.28 39.62-18.22v-279.6c0-20.5-24.05-31.56-39.62-18.18z' fill="currentColor"/></svg>
        </a>
        {{ subject }}
    </h1>

    {% if user is not empty %}
        <button class="thread-navigation fixed animate-pulse right-0 bottom-0 bg-white shadow-lg rounded-md px-4 py-2 mr-5 mb-5 bg-blue-50 text-blue-500 text-center text-sm transition-shadow hover:shadow-xl"
             id="next-unread" type="button" title="press 'n' to jump to the next unread email">
            (n)ext unread email
        </button>
    {% endif %}

    {% for item in thread %}
        {{ macros.threadItem(item) }}
    {% endfor %}

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Collapse email
            $('.thread-collapse-button').click(function() {
                const target = $(this).data('target');
                $(target).toggle();
            });

            var unreadEmailIds = $('article.unread').map(function() {
                return this.id;
            }).get();

            var i = 0;
            var nextUnread = function() {
                if ((i + 1) > unreadEmailIds.length) {
                    return;
                }

                window.location.hash = '#' + unreadEmailIds[i];
                i++;

                // hide navigation when no more unread messages left
                if ((i + 1) > unreadEmailIds.length) {
                    $('.thread-navigation').remove();
                }
            };

            $('#next-unread').click(nextUnread);
            $(document).keypress(function(event) {
                // 'n' shortcut/accesskey to jump to the next unread msg
                // when typing occurs outside of input fields (like our search)
                if ( event.target == document.body && event.which == 110) {
                    nextUnread();
                }
            });

            if (unreadEmailIds.length === 0) {
                $('.thread-navigation').remove();
            }
        });
    </script>
{% endblock %}
