{% extends '@app/layout.html.twig' %}

{% block mainMenuLinks %}{% endblock %}

{% block content %}

    <header class="home-header">
        <h1>#externals</h1>
        <p>Opening PHP's <a href="http://news.php.net/php.internals">#internals</a> to the outside.</p>
        <noscript>
            Your browser either doesn't support javascript or it is disabled.
            This website does not work without javascript.
            Make sure to activate it or consider switching to a modern browser.
        </noscript>
    </header>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
    {# Search #}
    <div id="search-form">
        <p class="algolia">
            Search with <a href="https://www.algolia.com/" target="_blank"><img src="/images/search-by-algolia.svg" alt="Algolia"></a>
        </p>
        <input id="search-input" type="text" class="form-control input-lg" placeholder="Search...">
    </div>
    <div class="search-container">
        <h3>Search results</h3>
        <ul id="search-results" class="list-unstyled"></ul>
    </div>
    {% verbatim %}
        <script id="search-result-template" type="text/html">
            <li>
                <a href="/message/{{ objectID }}">{{{ _highlightResult.subject.value }}}</a>
                <span class="text-muted">
                    by <strong>{{{ _highlightResult.fromName.value }}}</strong>
                    {{#helpers.date}}{{/helpers.date}}
                </span>
            </li>
        </script>
        <script id="no-results-template" type="text/html">
            <p>No results found for the search <em>"{{query}}"</em>.</p>
        </script>
    {% endverbatim %}

    <section id="threads">

        <div class="thread-list">
            {% include '@app/threads/thread-list.html.twig' %}
        </div>

        <button id="show-more-threads" class="btn btn-default btn-block btn-lg">Show more</button>

    </section>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        function init_search() {
            var search = instantsearch({
                appId: 'KSTITII7EC',
                apiKey: 'badccd205e578e64657ae7f880959824',
                indexName: '{{ algoliaIndex }}',
                searchFunction: function (helper) {
                    var searchResults = document.querySelectorAll('.search-container');
                    if (helper.state.query === '') {
                        [].forEach.call(searchResults, function(container) {
                            container.style.display = 'none';
                        });
                        return;
                    }
                    
                    helper.search();
                    [].forEach.call(searchResults, function(container) {
                        container.style.display = '';
                    });
                },
            });
            search.addWidget(
                instantsearch.widgets.searchBox({
                    container: '#search-input',
                    placeholder: 'Search...'
                })
            );
            search.addWidget(
                instantsearch.widgets.hits({
                    container: '#search-results',
                    hitsPerPage: 10,
                    templates: {
                        item: document.querySelector('#search-result-template').innerHTML,
                        empty: document.querySelector('#no-results-template').innerHTML,
                    }
                })
            );
            search.templatesConfig.helpers.date = function () {
                return moment(this.date).fromNow();
            };
            search.start();        
        }
        
        document.addEventListener("DOMContentLoaded", function() {
            // Pagination
            var page = 2;
            document.querySelector('#show-more-threads').onclick = function () {
                $.get('/threads/list?page=' + page, function (html) {
                    if (html === '') {
                        $('#show-more-threads').remove();
                        return;
                    }
                    $('.thread-list').append(html);
                });
                page++;
            };
        });
    </script>

    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js" onload="init_search();" async></script>

{% endblock %}
