{% extends '/app/views/layout.html.twig' %}

{% block content %}

    <div class="page-header">
        <h1>
            <a href="/"><span class="fa fa-caret-left"></span></a>
            {{ subject }}
        </h1>
    </div>

    {% for email in emails %}
        <article class="clearfix">
            <header>
                Posted by <a href="mailto:{{ email.from.email }}">{{ email.from.nameOrEmail }}</a> {{ email.date|time_diff }}
                <img class="avatar" src="{{ gravatar(email.from.email, 80, 'g', 'retro') }}">
            </header>
            {{ email.content|raw }}
        </article>
    {% endfor %}

{% endblock %}
