{% extends '/app/views/layout.html.twig' %}

{% import _self as macros %}

{% block pageTitle %}{{ subject }} - Externals{% endblock %}

{% macro threadItem(item) %}
    {% set email = item.email %}

    <article id="email-{{ email.id }}" class="clearfix {% if not email.isRead %}unread{% endif %}">

        <header>
            <a href="#email-{{ email.id }}-body" role="button" data-toggle="collapse"><span class="fa fa-compress"></span></a>
            <img class="avatar" src="{{ email.from.email|gravatar_avatar({d: 'retro', s: 50}) }}"
                 alt="{{ email.from.nameOrEmail }}" title="{{ email.from.nameOrEmail }}">
            <span class="hidden-xs">Posted</span>
            <a class="email-date" href="#email-{{ email.id }}" title="{{ email.date|date }}">{{ email.date|time_diff }}</a>
            by <strong>{{ email.from.nameOrEmail }}</strong>
            <span class="view-source">
                — <a href="/email/{{ email.id }}/source" target="_blank">view source</a>
            </span>
            {% if not email.isRead %}
                <div class="label label-primary">unread</div>
            {% endif %}
        </header>

        <div id="email-{{ email.id }}-body" class="collapse in">
            <div class="email-content">
                {{ email.content|raw }}
            </div>
            {% for reply in item.replies %}
                {{ _self.threadItem(reply) }}
            {% endfor %}
        </div>

    </article>

{% endmacro %}

{% block content %}

    <div class="page-header">
        <h1>
            <a href="/"><span class="fa fa-caret-left"></span></a>
            {{ subject }}
        </h1>
    </div>

    {% if user is not empty %}
        <div class="thread-navigation container">
            <div class="navigation">
                next<br>unread email
                <button id="next-unread" type="button" class="btn btn-link btn-block"><span class="fa fa-arrow-down"></span></button>
            </div>
        </div>
    {% endif %}

    <section class="thread">
        {% for item in thread %}
            {{ macros.threadItem(item) }}
        {% endfor %}
    </section>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $(function() {
            var unreadEmailIds = $('article.unread').map(function() {
                return this.id;
            }).get();
            var i = 0;
            $('#next-unread').click(function() {
                if ((i + 1) > unreadEmailIds.length) {
                    return;
                }
                window.location.hash = '#' + unreadEmailIds[i];
                i++;
            });
            if (unreadEmailIds.length === 0) {
                $('.thread-navigation').remove();
            }
        });
    </script>
{% endblock %}
