{% extends '/app/views/layout.html.twig' %}

{% block pageTitle %}{{ subject }} - Externals{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>
            <a href="/"><span class="fa fa-caret-left"></span></a>
            {{ subject }}
        </h1>
    </div>

    {% for email in emails %}
        <article id="email-{{ email.id }}" class="clearfix">
            <header>
                <a href="#email-{{ email.id }}"><span class="fa fa-link"></span></a>
                Posted by <a href="mailto:{{ email.from.email }}">{{ email.from.nameOrEmail }}</a>
                <span title="{{ email.date|date }}">{{ email.date|time_diff }}</span>
                <img class="avatar" src="{{ gravatar(email.from.email, 80, 'g', 'retro') }}">
            </header>
            {{ email.content|raw }}
        </article>
    {% endfor %}

{% endblock %}
